.item-list-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    padding: 50px;
    width: 80%;
}
.item-name{
    margin: auto;
}
.item-list-container img{ 
height: 270px;
width: 250px;
} 